# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# Django
*.log
staticfiles/

# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
*.env
venv/