# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/

# Django
*.sqlite3
*.log
*.pot
*.pyc
__pycache__/
media/
staticfiles/

# Env files
.env
.env.local
.env.*.local

# VSCode
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db
